if SHIELD_SOFLE_LEFT

config ZMK_KEYBOARD_NAME
    default "Sofle Left"

config ZMK_SPLIT
    bool
    default y

config ZMK_SPLIT_BLE
    bool
    default y

config ZMK_SPLIT_BLE_ROLE_PERIPHERAL
    bool
    default y

endif 